.pera{ border: 2px solid tomato;

    padding: 10px;
    background-color: rgba(60, 60, 187, 0.241) ;
    margin: 10px;
    border-radius: 5px;
}
*{margin: 0%;
padding: 0%;

}
h1{background-color: rgba(0, 255, 255, 0.274);
    border-radius: 5px;
    border: 1px solid bisque;
    text-align: center;
    color: blue;
    margin: 10px;
}