.pera{ border: 2px solid tomato;

    padding: 10px;
    background-color: rgba(60, 60, 187, 0.241) ;
    margin: 10px;
    border-radius: 5px;
    color: rgb(6, 6, 175);
}
*{margin: 0%;
padding: 0%;
background-color: rgba(198, 252, 234, 0.205)
;

}
h1{background-color: rgba(0, 255, 255, 0.274);
    border-radius: 5px;
    border: 1px solid bisque;
    text-align: center;
    color: blue;
    margin: 10px;
}
.model{ border: 2px solid tomato;
    margin: 10px;
    background-color: rgba(141, 138, 199, 0.306);
    color:rgb(7, 7, 189);
    height: 300px;
    width: 249px;
    display:inline-flex;
    align-content: center;
    padding: 10px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    text-align:justify;
    
    


}
nav ul{display:flex;

background-color: rgb(0, 183, 255);
list-style: none;

}
nav li{list-style: none;
    margin: 20px;
    border: 1px solid tomato;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;

}
footer{background-color: rgba(137, 43, 226, 0.485);
    text-align: center;
    margin-top: 20px;


}
label{display: block;
    margin: 10px;

}  
fieldset{margin: 20px;
   

}
button{margin:0px 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 6px;
}
#reset{background-color: rgba(255, 0, 0, 0.906);
    border-color: rgba(255, 0, 0, 0.776);
    color: aliceblue;

}
#submit{background-color: rgba(0, 0, 255, 0.749);
    color: aliceblue;
    border-color: rgba(0, 0, 255, 0.835);

}
nav li a{text-decoration:none;}
nav li:hover{background-color: blue;
}
nav li a:hover{color: aliceblue;}